/*added color and font families for the header*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

h1 {
    display: inline-block;
    font-size: 48px;
}

h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

h3 {
    margin-bottom: 10px;
    text-align: center;
}
 /*changed color for "seo" in company name in the header */
.logo_colors {
    color: #9fa09d;

}

ul {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style-type: none;
    color: #ffffff;
    /*puts buttons in top right of header menu*/
}

a {
    display: inline-block;
    margin-left: 25px;
    color: #ffffff;
    text-decoration: none;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 32px;
}
/*took source out to combine codes*/
.background-img {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}
/*combined benefit */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
    color: #ffffff;
}

#benefit-img1 {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

#benefit-img2 {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

#benefit-img3 {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*combined the body elements*/
.center-content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    font-size: 16px;
}
#Search-img {
    max-height: 200px;
    float: left;
    margin-right: 25px;
}

#Online-img {
    max-height: 200px;
    float: right;
    margin-right: 25px;
}

#Social-img {
    max-height: 200px;
    float: left;
    margin-right: 25px;
}